footer{
    background-color: black;
    font-family: $fontf;
    color: white;
    width: 100%;
    font-size: 0.65rem;
    padding-top: 2%;
    padding-bottom: 2%;
    #lien{
        margin-bottom: 5%;
        img{
            display: inline-block;
        }
    }
    i {
        display: inline-block;
    }
    p{
        display: inline-block;
    }
    .iconegfooter{
        margin-left: 5%;
    }
}
@media screen and (min-width: 500px) and (max-width: 1025px) {
    footer{
        font-size: 1.5rem;
    }
}
