#home{
    font-family: $fontf;
    .color{
        color : $red;
    }
    #premierPres{
        margin-top: 5%;
        .intro{
            margin-bottom: 0;
        }
    }
    #deuxiemePres{
        margin-top: 6%;
        margin-bottom: 4.5%;
    }
    #troisiemePres{
        margin-bottom: 4.5%;
        #dernierePhrase{
            margin-bottom: 8%;
        }
    }
}
