<main  id="contact">
    <div class="container">
        <div class="row">
            <form [formGroup]="userForm" method="POST" (ngSubmit)="onSubmit()">
                <div class="row">
                    <p class="small-12 text-center" id="intro">Bonjour Cyril,</p>
                </div>
                <p id="obligation"><span class="error">* Champs Obligatoires.</span></p>
                <div class="small-12 text-center columns end" id="formPremiere">
                    <p id="debut" class="small-3 columns">Je suis </p>
                    <div class="small-5 columns">
                        <div class="small-12 columns ">
                            <input class="" id="nameForm" type="text" name="nom" #refNom class="form-control inputForm" formControlName="nom" placeholder="nom  *">
                        </div>
                        <span class="erreur1 erreur" *ngIf="userForm.controls['nom'].hasError('required') && ( userForm.controls['nom'].touched)">Il faut rentrer un nom</span>
                        <span class="erreur1 erreur" *ngIf="userForm.controls['nom'].hasError('minlength')  && ( userForm.controls['nom'].touched)">Il faut davantage de caractere</span>
                        <span class="erreur1 erreur" *ngIf="userForm.controls['nom'].hasError('maxlength') && ( userForm.controls['nom'].touched)">Max 10 lettres</span>
                    </div>
                    <div class="small-4 columns end">
                        <input id="nameForm" type="text" #refPrenom class="form-control" formControlName="prenom" placeholder="prénom  *">
                        <span class="erreur5 erreur" *ngIf="userForm.controls['prenom'].hasError('required') && ( userForm.controls['prenom'].touched)">Il faut rentrer un prenom</span>
                        <span class="erreur5 erreur" *ngIf="userForm.controls['prenom'].hasError('minlength')  && ( userForm.controls['prenom'].touched)">Il faut davantage de caractere</span>
                        <span class="erreur5 erreur" *ngIf="userForm.controls['prenom'].hasError('maxlength') && ( userForm.controls['prenom'].touched)">Max 10 lettres</span>
                    </div>
                    <p id="text" class="small-12 text-center columns end"> et je vous contacte pour vous dire</p>
                </div>
                <div class="form-group" id="message">
                    <textarea class="form-control" name="message" id="exampleTextarea" rows="3" formControlName="message" placeholder="Vous pouvez écrire votre demande ici...  *"></textarea>
                    <span class="erreur2 erreur" *ngIf="userForm.controls['message'].hasError('required') && ( userForm.controls['message'].touched)">Il me faut un message</span>
                    <span class="erreur2 erreur" *ngIf="userForm.controls['message'].hasError('minlength')  && ( userForm.controls['message'].touched)">Il faut davantage de caractere</span>
                </div>
                <div class="row">
                    <p id="demande" class="small-12 medium-12 text-center columns end">Merci d'avance de bien vouloir me répondre</p>
                    <div class="small-6 columns" id="formQuatre">
                        <p>par mail</p>
                        <input id="mailForm" type="email" name="email" class="form-control inputForm" formControlName="email" placeholder="Email  *">
                        <span class="erreur3 erreur" *ngIf="userForm.controls['email'].hasError('required')  && ( userForm.controls['email'].touched)">Il me faut un email</span>
                        <span class="erreur3 erreur" *ngIf="userForm.controls['email'].hasError('pattern')  && ( userForm.controls['email'].touched)">Adresse mail non valide</span>
                    </div>
                    <div class="small-6 columns end" id="formCinq">
                        <p>par téléphone</p>
                        <input id="phoneForm" type="text" class="form-control inputForm" formControlName="telephone" placeholder="Téléphone">
                        <span class="erreur4 erreur" *ngIf="userForm.controls['telephone'].hasError('pattern')  && ( userForm.controls['telephone'].touched)">Telephone non valide</span>
                    </div>
                </div>
                <div class="row divbye">
                    <p class="bye small-12 text-center large-centered columns">À bientot</p>
                </div>
                <div class="row">
                    <p class="small-12 text-center columns end">//</p>
                </div>
                <div class="row" id="formButton">
                    <button type="button" class="small-6 columns" (focus)="resetForm()" id="resetForm">réinitialiser le message</button>
                    <button class="small-6 columns end" type="submit" [disabled]="!userForm.valid">Envoyer le message</button>
                </div>
            </form>
        </div>
    </div>
</main>
