<main>
    <div class="container">
        <div class="row">
            <p>Jai pu apprendre pendant ma formation plusieurs technologies de base</p>
            <div class="col-xs-3">
                <img src="././assets/images/html.svg" alt="" class="img-responsive">
                <p>html5</p>
            </div>
            <div class="col-xs-3 col-xs-offset-1">
                <img src="././assets/images/js.svg" alt="" class="img-responsive">
                <p>javascript</p>
            </div>
            <div class="col-xs-3 col-xs-offset-1">
                <img src="././assets/images/css.svg" alt="" class="img-responsive">
                <p>css</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-xs-offset-1">
                <img src="././assets/images/php.svg" alt="" class="img-responsive">
                <p>Php</p>
            </div>
            <div class="col-xs-3 col-xs-offset-1">
                <img src="././assets/images/jquery.svg" alt="" class="img-responsive">
                <p>jQuery</p>
            </div>
            <div class="col-xs-3 col-xs-offset-1">
                <img src="././assets/images/Mysql.svg" alt="" class="img-responsive">
                <p>Mysql</p>
            </div>
        </div>
        <div class="row">
            <p>Mais d'autres aussi</p>
            <div class="col-xs-3 col-xs-offset-3">
                <img src="././assets/images/bootstrap.svg" alt="" class="img-responsive">
                <p>Bootstrap</p>
            </div>
            <div class="col-xs-3 col-xs-offset-1">
                <img src="././assets/images/wordpress.svg" alt="" class="img-responsive">
                <p>WordPress</p>
            </div>
        </div>
        <div class="row">
            <p>Avec des préférences</p>
            <div class="col-xs-3 col-xs-offset-1">
                <img (click)="testClick()" src="././assets/images/git.svg" alt="" class="img-responsive">
                <p>git</p>
            </div>
            <div class="col-xs-3 col-xs-offset-1">
                <img src="././assets/images/sass.svg" alt="" class="img-responsive">
                <p>Sass</p>
            </div>
            <div class="col-xs-3 col-xs-offset-1">
                <img src="././assets/images/foundation.svg" alt="" class="img-responsive">
                <p>Foundation</p>
            </div>
        </div>
        <div class="row">
            <p>Acquise avec du travail perso</p>
            <div class="col-xs-3 col-xs-offset-2">
                <img src="././assets/images/symf.png" alt="" class="img-responsive">
                <p>symfony</p>
            </div>
            <div class="col-xs-3 col-xs-offset-2">
                <img src="././assets/images/grunt.svg" alt="" class="img-responsive">
                <p>Grunt</p>
            </div>
        </div>
        <div class="row">
            <p>Les inclassables</p>
            <div class="col-xs-3 col-xs-offset-4">
                <img src="././assets/images/photoshop.svg" alt="" class="img-responsive">
                <p>Photoshop</p>
            </div>
        </div>
    </div>
</main>
