<main id="skill">
    <div class="row">
        <p class="small-12 text-center intro">Jai pu apprendre pendant ma formation plusieurs technologies:</p>
        <div class="small-3 iconeg columns">
            <img src="././assets/images/html.png" alt="" class="img-responsive">
            <p class="text-center">Html5</p>
        </div>
        <div class="small-3 small-offset-1 columns">
            <img class="text-center img-responsive" src="././assets/images/js.png" alt="">
            <p class="text-center">Javascript</p>
        </div>
        <div class="small-3 small-offset-1 columns end">
            <img class="text-center img-responsive" src="././assets/images/css.png" alt="">
            <p class="text-center">Css</p>
        </div>
    </div>
    <div class="row">
        <div class="small-3 small columns  iconeg">
            <img src="././assets/images/php.png" alt="" class="img-responsive">
            <p class="text-center">Php</p>
        </div>
        <div class="small-3 small-offset-1 columns">
            <img src="././assets/images/jquery.png" alt="" class="img-responsive">
            <p class="text-center">jQuery</p>
        </div>
        <div class="small-3 small-offset-1 columns end">
            <img src="././assets/images/Mysql.png" alt="" class="img-responsive">
            <p class="text-center">Mysql</p>
        </div>
    </div>

    <div class="row">
        <div class="small-3 small columns iconeg">
            <img src="././assets/images/bootstrap.png" alt="" class="img-responsive">
            <p class="text-center">Bootstrap</p>
        </div>
        <div class="small-3 small-offset-1 columns">
            <img src="././assets/images/wordpress.png" alt="" class="img-responsive">
            <p class="text-center">WordPress</p>
        </div>
        <div class="small-3 small-offset-1 columns end">
            <img id="foundation" src="././assets/images/angular.png" alt="" class="img-responsive">
            <p class="text-center">Angular</p>
        </div>
    </div>
    <div class="row">
        <p class="small-12 columns end text-center paragraphe">Avec mes petits chouchous :</p>
        <div class="small-3 columns iconeg">
            <img (click)="testClick()" src="././assets/images/git.png" alt="" class="img-responsive">
            <p class="text-center">Git</p>
        </div>
        <div class="small-3 small-offset-1 columns">
            <img src="././assets/images/sass.png" alt="" class="img-responsive">
            <p class="text-center">Sass</p>
        </div>
        <div class="small-3 small-offset-1 columns end">
            <img src="././assets/images/foundation.png" alt="" class="img-responsive">
            <p class="text-center">Foundation</p>
        </div>
    </div>
    <div class="row lastSkill">
        <p class="small-12 text-center columns end paragraphe">Certaines acquises à la maison :</p>
        <div class="small-3 small-offset-2 columns iconeg2">
            <img src="././assets/images/symf.png" alt="" class="img-responsive">
            <p class="text-center">Symfony</p>
        </div>
        <div class="small-3 small-offset-1 columns end">
            <img src="././assets/images/grunt.png" alt="" class="img-responsive">
            <p class="text-center">Grunt</p>
        </div>
    </div>
</main>
