<main id="skill">
    <div class="container">
        <div class="row">
            <p>Jai pu apprendre pendant ma formation plusieurs technologies:</p>
            <div class="col-xs-3 iconeg">
                <img src="././assets/images/html.svg" alt="" class="img-responsive">
                <p class="text-center">Html5</p>
            </div>
            <div class="col-xs-3 col-xs-offset-1">
                <img class="text-center" src="././assets/images/js.svg" alt="" class="img-responsive">
                <p class="text-center">Javascript</p>
            </div>
            <div class="col-xs-3 col-xs-offset-1">
                <img class="text-center" src="././assets/images/css.svg" alt="" class="img-responsive">
                <p class="text-center">Css</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 iconeg">
                <img src="././assets/images/php.svg" alt="" class="img-responsive">
                <p class="text-center">Php</p>
            </div>
            <div class="col-xs-3 col-xs-offset-1">
                <img src="././assets/images/jquery.svg" alt="" class="img-responsive">
                <p class="text-center">jQuery</p>
            </div>
            <div class="col-xs-3 col-xs-offset-1">
                <img src="././assets/images/Mysql.svg" alt="" class="img-responsive">
                <p class="text-center">Mysql</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 iconeg">
                <img src="././assets/images/bootstrap.svg" alt="" class="img-responsive">
                <p class="text-center">Bootstrap</p>
            </div>
            <div class="col-xs-3 col-xs-offset-1">
                <img src="././assets/images/wordpress.svg" alt="" class="img-responsive">
                <p class="text-center">WordPress</p>
            </div>
            <div class="col-xs-3 col-xs-offset-1">
                <img id="foundation" src="././assets/images/foundation.svg" alt="" class="img-responsive">
                <p class="text-center">Foundation</p>
            </div>
        </div>
        <div class="row">
            <p>Avec mes petits chouchous :</p>
            <div class="col-xs-3 col-xs-offset-3">
                <img (click)="testClick()" src="././assets/images/git.svg" alt="" class="img-responsive">
                <p class="text-center">Git</p>
            </div>
            <div class="col-xs-3 col-xs-offset-1">
                <img src="././assets/images/sass.svg" alt="" class="img-responsive">
                <p class="text-center">Sass</p>
            </div>
        </div>
        <div class="row">
            <p>Certainnes acquises à la maison :</p>
            <div class="col-xs-3 col-xs-offset-3">
                <img src="././assets/images/symf.png" alt="" class="img-responsive">
                <p class="text-center">Symfony</p>
            </div>
            <div class="col-xs-3 col-xs-offset-1">
                <img src="././assets/images/grunt.svg" alt="" class="img-responsive">
                <p class="text-center">Grunt</p>
            </div>
        </div>
    </div>
</main>
