<main>
    <div class="container">
        <div class="row" id="premierPres">
            <p (click)="testClick()" class="col-xs-12 text-center">Hello, moi c'est Cyril Etievant.</p>
            <p class="col-xs-12 text-center"><span class="color">App & Web développeur</span></p>
            <p class="col-xs-12 text-center">près de Besancon en Franche-comté</p>
        </div>
        <div class="row" id="deuxiemePres">
            <p class="col-xs-12 text-center">Présentement, je parfais ma formation</p>
            <p class="col-xs-12 text-center">dans le digital avec <a href="http://www.accesscodeschool.fr/" target="_blank"><span class="color">Acces Code School</span></a></p>
            <p class="col-xs-12 text-center">puis je vais effectuer un stage de plusieurs</p>
            <p class="col-xs-12 text-center">semaines à l'agence <a href="http://www.spin-on.fr/"><span class="color">SpinOn</span></a> à Besançon</p>
        </div>
        <div class="row" id="troisiemePres">
            <p class="col-xs-12 text-center">Si vous souhaitez collaborer avec moi pour un</p>
            <p class="col-xs-12 text-center" id="dernierePhrase">futur projet, n'hésitez pas à me <span routerLink="/contact" routerLinkActive="active" class="color">contacter</span> :)</p>
            <p class="col-xs-12 text-center">//</p>
        </div>
    </div>
</main>
