<main id="home">
    <div class="container">
        <div id="premierPres">
            <p class="small-12 text-center intro">Hello, moi c'est Cyril Etievant.</p>
            <p class="small-12 text-center intro"><span class="color">App & Web développeur</span></p>
            <p class="small-12 text-center intro">Bienvenue sur mon portfolio</p>
        </div>
        <div id="deuxiemePres">
            <p class="small-12 text-center">Fort d'une expérience dans différents domaines je me suis tourné vers le développement web qui réunissait nombres de points que je recherche dans un travail.</p>
            <p class="small-12 text-center">J'ai pu grâce à <a href="http://www.accesscodeschool.fr/" target="_blank"><span class="color">l'Access Code School</span></a> apprendre les bases nécessaires
            puis j'ai consolidé mes connaissances en faisant un stage de 8 semaines à l'agence <a href="http://www.spin-on.fr/"><span class="color">SpinOn</span></a> à Besançon.</p>
            <p class="small-12 text-center">Cette application a été réalisée avec le framework Angular et utilise Symfony pour la gestion de la base de donnée. De plus, j'ai utilisé
            du Scss, Foundation et GruntJS pour une facilité de production et de maintenabilité.</p>
        </div>
        <div id="troisiemePres">
            <p class="small-12 text-center" id="dernierePhrase">Si vous souhaitez collaborer avec moi pour un futur projet, n'hésitez pas à me <span routerLink="/contact" routerLinkActive="active" class="color">contacter</span> :)</p>
            <p class="small-12 text-center">//</p>
        </div>
    </div>
</main>
